/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rubik+Puddles&display=swap');

@import "./reset.css";
@import "./variables.css";

/* Components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";

/* Screens */
@import "./screens/login.css";
@import "./screens/friends.css";


body{
  font-family: 'Rubik Puddles', cursive;
  font-family: 'Poppins', sans-serif;
  padding-top: 40px;
}

#wrap{
  width: 510px;
  height: 840px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 18px rgba(0,0,0,.2);
  position: relative;
  overflow-y: auto;
}