#friends-display-link{
  text-align: center;
  display: block;
  background-color: #fafafaef;
  padding: 10px 0;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: -15px;
  position: relative;
  top: 100px;
}

#friends-display-link i{
  color: rgba(0,0,0, 0.3);
  margin: 2px 3px 0;
}

.friends-screen{
  padding: 0px var(--horizontal-space);
  position: relative;
  top: 100px;
}

.friends-screen__channel{
  overflow-y: auto;
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }

}

#splash-screen{
  background-color: #24292E;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1.5s;
}

#splash-screen p{
  width: 100%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 68px;
  color: #fff;
  margin-top: 8px;
}

#splash-screen img{
  width: 160px;
  height: auto;
  display: block;
  margin-left: 80px;
}