#wrapper{
  background-color: #24292E;
  height: 100vh;
  overflow-y: hidden;
}

.welcome-header{
  padding: 180px 0 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.welcome-header__title{
  margin-bottom: 34px;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  color: #fff;
}

.welcome-header__text{
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

#login-form{
  display: flex;
  flex-direction: column;
  padding: 0 80px;
}

#login-form input{
  padding: 15px 0;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-bottom: 26px;
}

#login-form input:not([type="submit"]){
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: border-color 0.2s ease-in-out;
}

#login-form input::placeholder{
  color: 1px solid rgba(255, 255, 255, 0.5);
}

#login-form input:focus{
  border-color: #fff;
}

#login-form input[type="submit"]{
  background-color:  #fff;
  color: #333;
  cursor: pointer;
  padding: 20px 0;
  border-radius: 5px;
}

#login-form input[type="submit"]:hover{
  background-color: skyblue;
}

#login-form a{
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-top: 36px;
}

#login-form a:hover{
  color: skyblue;
  font-weight: 600;
}