.icon-row{
  display: flex;
  justify-content: space-between;
  padding: 0 15px 25px;
}
.icon-row__icon{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row__icon i{
  font-size: 34px;
}
.icon-row__icon span{
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}