.screen-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  background-color: #fff;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 2;
}

.screen-header__title{
  font-size: 28px;
  font-weight: 600;
}
.screen-header__icons{
  padding-right: 40px;
}

.screen-header__icons span{
  margin-left: 25px;
}